<%- include("../layout/head") %>

<link rel="stylesheet" href="css/body.css">
  <%- include("../layout/nav") %>
  <body>
    <br>
    <div class="aboutus-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">Đồ án môn học Phát Triển Ứng Dụng Web</h2>
                            <p class="aboutus-text">Website đồ gia dụng</p>
                            <h4>Sinh viên thực hiện</h4>
                                        <p>19127371 Vũ Thái Dương</p>
                                        <p>19127510 Huỳnh Trọng Phúc</p>
                            <a class="aboutus-more" href="#">read more</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Giảng viên hướng dẫn</h4>
                                        <p>Nguyễn Huy Khánh</p>
                                        <p>Nguyễn Ngọc Đăng Khoa</p>
                                        <p>Nguyễn Thị Minh Tuyền</p>
                                        <p>Mai Anh Tuấn</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Cảm ơn thầy cô đã hướng dẫn nhóm em môn học này!</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../layout/footer") %> 
    </body>


